@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&family=Questrial&display=swap');


.navbar{
    color: #000;
    right: 3rem;
    position: absolute;
    z-index: 110;
    top: 3rem;
    font-family: 'Questrial', sans-serif;

}
.navbar ul{
   display: flex; 
   color: #FFF;
   justify-content: space-between;
}
.navbar ul li{
    margin-left: 1.7rem;
    font-size: 1.2rem;
    list-style: none;
 }
 .navbar ul li a{
    text-decoration: none;
    color:blue;
    font-family: 'Questrial', sans-serif;

 }

 .close{
    background-color: grey;
    right: 2rem;
    border-radius: 15px;
    border-style: none;

 }

.abouts{
    min-height: 200vh;
    width: 100vw;
    background: rgb(16, 16, 16);
    top: 0;
    position:absolute ; 
    z-index: 120;
    color: white;
    display: none;
  
}
.inside{
    background: rgb(16, 16, 16); 
}
.aboutz{
    max-height: 100vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    top: 0;
    position:absolute ;
    z-index: 120;
    display: none; 
}
.show{
    min-height: 510vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    position:absolute ; 
    top: 0;
    z-index: 120;
    display: flex; 
}
.showresume{
    min-height: 350vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    position:absolute ; 
    top: 0;
    z-index: 120;
    display: flex; 
}
.portshow{
    min-height: 350vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    position:absolute ; 
    top: 0;
    z-index: 120;
    display: flex; 
}
.showblog{
    min-height: 220vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    position:absolute ; 
    top: 0;
    z-index: 120;
    display: flex; 
}
.showcontact{
    min-height: 150vh;
    width: 100vw;
    background-color: rgb(16, 16, 16);
    position:absolute ; 
    top: 0;
    z-index: 120;
    display: flex;
}

.himg{
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 108;
    opacity: 0;
 
   
}
.farcover{
    max-width: 30px;
    display: none;
    right: 3rem;
    top:3rem;
    position: absolute;
    z-index: 121;
}
.farbar{
margin: 5px 5px;
   height: 3px;
   width: 30px;
   color: white;
   background-color: white;
   background: #FFF;
}
/* .farcover:hover .topit{
    margin-left: -5px;
    transition: 1s;
}
.farcover:hover .botomit{
    margin-left: 12px;
    transition: 1s;
} */
.nav{
    position: absolute;
    z-index: 120;
}
ul li{
    color: #000;
}
@media screen and (max-width: 480px) {
    
    .navbar{
        max-width: 100vw;
        background-color: rgb(16, 16, 16);
        right: 0;
        top: 0;
        display: none;
    }
    .farcover{
       display: block;
    }
    .navbar ul{
        display: block;
        justify-content: space-between;
        margin: 5.5rem 0rem ;
        max-width: 100vw;
        background-color: rgb(16, 16, 16);
        
     }
     .navbar ul li{
        margin: 1.5rem 0rem; 
        padding: 0rem 12.5rem;
       
        
     }
     .nav{
        max-width: 480px;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav{
        max-width: 100vw;
        background-color: rgb(16, 16, 16);
        top: 0;
    }
    .nav ul li{
        margin: 1.2rem 0rem 0.3rem 0rem; 
        padding: 0.5rem 12rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Questrial', sans-serif;
     }
    .nav ul{
        margin: 4rem 0rem -2rem 0rem; 
        background-color: rgb(16, 16, 16);
        max-width: 480px;
        display: flex;
        flex-direction: column;
        
       
     }
  
     .farcover:hover .topit{
    margin-left: 12px;
    transition: 1s;
    }
    .farcover:hover .botomit{
    margin-left: 12px;
    transition: 1s;
    }
     li{
        list-style: none;
     }
     .show, .showcontact, .showblog, .portshow,
     .showresume, .showresume{
        z-index: 122;
    }
    .show{
        min-height: 1070vh;
       
    }
    .showresume{
        min-height: 620vh;
    }
    .portshow{
        min-height: 280vh;
    }
    .showblog{
        min-height: 520vh;
    }
    .showcontact{
        min-height: 220vh;
    }
    
}